*,*::before,*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    font-family: 'Mulish','sans-serif';
    font-weight: 800px;
}
.header-link{
    background-image: linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: IBMPlexMono,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
}
.container{
    background-image: linear-gradient(0deg,#232328,#343437 101.47%);
    width: 100%;
    padding: 9px 180px 40px 180px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
}
.ton{
    align-items: center;
} 
.menu-titles{
    display:flex;
    justify-content: center;
    font-weight: bold;
    color:#fff;
}
.menu-titles a{
    display: inline-block;
    color: #fff;
    padding: 0 16px;
}
.git{
    display: flex; 
    align-items: center;
}
.git img{
    padding-right: 8px;
}
.sec1{
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    padding: 128px 0;
    margin: 0 auto;
}
.sec1-left{
    width: 70%;
}
.sec1-right{
    width: 30%;
}
.button{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #fff;
}
.sec1-Join{
    padding:16px 24px;
    background-color: #0088cc;
    border-radius: 45px;
    color: #fff;
}
.sec1-GitHub{
    display: flex;
    align-items: center;
    padding: 16px 24px;
    background-color: #ffffff0f;
    margin-left: 16px;
    border-radius: 45px;
    color: #fff;
}
.sec1-GitHub img{
    padding-right: 10px;
}
.sec1-right video{
    width: 335px;
}
.sec1-welcome{
    height: 72px;
    font-size: 64px;
    font-weight: 800;
    color: #ffffff;
}
.sec1-open-network{
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 12px;
    color: #06a1ef;
}
.sec1-text{
    width: 695px;
    font-size: 21px;
    padding-bottom: 24px;
    color: #ffffffb3;
}
@media  screen and (max-width: 1100px){
    .sec1{
        flex-direction: column !important;
        align-items: center;
    }
}
 .sec2-container{
     display: flex;
     flex-direction: column;
     align-items: center;
 } 
 .sec2-container-static{
     width: 100%;
     padding-right: 20%;
     padding-left: 20%;

 }  
 .sec2-part1{
    text-align: center;
    margin-top: 100px;
 }
.sec2-part1 h2{
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    font-size: 56px;
    line-height: 64px;
    font-weight: 800;
}
.sec2-part1 .sec2-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 64px;
    color: #728a96;
}
.statistics{
    display: flex;
    justify-content: space-between;
}
.statistic-transaction{
    width: 100%;
    height: 120px;
    padding: 20px 16px;
    background-color: #f7f9fb;
    border-radius: 24px;
    text-align: left;
    overflow: hidden;
    position: relative;
}
.statistic-wallet{
    width: 100%;
    height: 120px;
    padding: 16px 8px;
    background-color: #f7f9fb;
    border-radius: 24px;
    text-align: left;
    overflow: hidden;
    position: relative;
    margin-left: 40px;
}
.statistic-validator{
    width: 100%;
    height: 120px;
    padding: 16px 8px;
    background-color: #f7f9fb;
    border-radius: 24px;
    text-align: left;
    overflow: hidden;
    position: relative;
    margin-left: 40px;
}
.statistics-title{
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 16px;
    font-weight: 400;
}
.statistics-amount{
    font-size: 35px;
    font-weight: 700;
    line-height: 58px;
}
.behind-icon{
    width: 68px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    color: rgba(236,240,243,0.8);
}
.Toncoin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    margin: 64px 100px;
    background-color: rgba(236,240,243,0.8);
    border-radius: 64px;
}
.Toncoin-left{
    display: block;
    margin-left:64px;
}
.Toncoin-left-TON{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom:16px;
    padding:3px 11px;
    color: #728a96;
    border: 1px solid #728a96;
    border-radius: 8px;
    width: 60px;
    text-align: center;
}
.Toncoin-left-text{
    font-size: 60px;
    line-height: 64px;
    font-weight: 800;
}
.Toncoin-left p{
    font-size: 18px;
    line-height: 28px;
    color: #728a96;
    margin-top: 24px;
    width: 558px;
    height: 84px;
    font-weight: 400;
}
.Toncoin-left .Toncoin-left-links{
    display: inline-block;
    padding: 0 16px;
    margin: 10px -6px 0;
}
.Toncoin-left-links a{
    color:#08c;
    font-weight: bold;
    margin-right: 6px;
}
.Toncoin-right img{
    height: 300px;
    margin-right: 64px;
}
.sec3-container{
    width: 100%;
    margin: 0 auto;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 80px;
}
.sec3-container h2{
    font-size: 56px;
    line-height: 64px;
    font-weight: 800;
}
.sec3-container-columns{
    display: flex;
    justify-content: space-between;
}
.sec3-container-columns-col{
    width: 30%;
    position: relative;
    padding: 40px 20px 0;
}
.sec3-container-columns-header{
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
}
.sec3-container-columns-text{
    font-size: 15px;
    margin-top: 16px;
    color: #728a96;
    line-height: 30px;
    font-weight: 400;
}
.sec3-container-columns-col a{
    font-size: 16px;
    font-weight: 800;
    line-height: 64px;
    color: #08c;
}
.sec4-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
    padding-bottom: 80px;
}
.sec4-container h2{
    padding-bottom: 16px;
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    margin: 0;
}
.sec4-container-text1{
    padding: 0 64px 30px;
    color: #728a96;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.sec4-container-button{
    margin: 0 auto;
    color: #fff;
    background-color: #08c;
    padding: 12px 24px;
    border-radius: 40px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    width: 20%;
}
.sec4-container-table{
    position: relative;
    line-height: 32px;
    border-radius: 40px;
    padding: 40px 64px;
    border: 1px solid #dde3e6;
    margin: 48px 0 24px;
    display: flex;
    justify-content: space-around;
}
.sec4-container-table-col1{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 30%;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
}
.sec4-container-table-col1 .sec4-container-table-cols-logos{
    color: #fff;
}
.sec4-container-table-col2{
    background-color: #F7F9FB;
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 20px;
}
.sec4-container-table-cols{
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
}
.sec4-container-table-cols-logos-TON{
    background-color: #F7F9FB;
    
}
.sec4-container-table-cols-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 64px
}
.sec4-container-table-cols-logos img{
    width: 38px;
}
.sec4-container-text2{
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    color: #728a96;
    padding: 0 64px;
}
.sec4-container-text2 a{
    border-bottom: 1px solid!important;
    border-bottom-color: inherit;
    color:#728a96;
}
.sec4-container-text2 a:hover{
    color:#08c;
}
.sec5-container{
    background-image: linear-gradient(0deg,#232328,#343437 101.47%);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 72px;
    padding-bottom: 80px;
    text-align: center;
}
.sec5-container-blockchain{
    max-width: 840px;
    margin: 0 auto;
}
.sec5-container-blockchain h2{
    color: #fff;
    font-size: 56px;
    line-height: 64px;
    margin: 0;
}
.sec5-container-blockchain-text{
    margin: 16px auto 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: hsla(0,0%,100%,0.7);
}
.sec5-container-blockchain-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 44px -12px 0;
}
.sec5-container-blockchain-buttons .Read-Docs{
    color: #fff;
    background-color: #08c;
    border-radius: 40px;
    font-weight: 700;
    padding: 16px 32px;
    margin: 0 12px;
    display: flex;
}
.sec5-container-blockchain-buttons .GitHub{
    display: flex;
    padding: 16px 32px;
    background-color: #ffffff0f;
    margin:0 12px;
    border-radius: 40px;
    font-weight: 700;
    color: #fff;
}
.sec5-container-blockchain-buttons img{
    margin-right: 8px;
}
.sec5-container-table{
    width: 100%;
    max-width: 1040px;
    margin: 64px auto 0;
    border-radius: 32px;
    background: rgba(255,255,255,.03);
}
.sec5-container-table-line{
    padding: 24px 40px;
    background-color: #29292e;
}
.sec5-container-table-line-points{
    display: flex;
    align-items: flex-start;
}
.sec5-container-table-line-points-red{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    background-color: #ed6a5e;
}
.sec5-container-table-line-points-yellow{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    background-color: #f6be4f;
    margin-left: 8px;
}
.sec5-container-table-line-points-green{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
    background-color: #62c554;
    margin-left: 8px;
}
.sec5-container-table-text{
    display: flex;
    padding: 40px 0 38px;
}
.sec5-container-table-text-left{
    color: #fff;
    position: relative;
    width: 30%;
    text-align: left;
}
.sec5-container-table-text-left{
    font-size: 18px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 8px;
    position: relative;
    padding: 10px 16px 10px 40px;
}
.sec5-container-table-text-right{
    color: #fff;
    position: relative;
    width: 70%;
    /* text-align: left; */
    padding: 0 40px 80px;
}
.sec5-container-table-text-right-text{
    color: #fff;
    text-align: left;
}
.sec5-container-table-text-right-text h4{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    margin: 0;
}
.sec5-container-table-text-right-text p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    position: relative;
    margin-top: 16px;
}
.sec5-container-table-text-right-text p a{
   color: #07a0ec;
}
.sec5-container-table-text-right-text a{
    color: #07a0ec;
    font-size: 18px;
    font-weight: 700;
 }
 .sec5-container-table-text-right-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 64px;
    padding: 0 46px 0 40px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
 }
 .sec5-container-table-text-right-footer a{
    color: #fff;
 }
 
